.products-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.products-title {
  margin-bottom: 1rem;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .product-actions {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
