.products {
  &-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &-change-view {
    background-color: rgb(0, 81, 195);
  }

  &-title {
    margin-bottom: 1rem;
  }

  &-panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 1024px) {
      .product-delete-button {
        margin-left: auto;
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1.5rem;
  }
}
