body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  min-height: 100vh;
}

:root {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.031rem;

  color: rgb(33, 53, 71);
  background-color: rgb(237, 239, 242);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.285;
  letter-spacing: 0.015rem;
  padding: 0.75rem 1.5rem;
  height: 2.5rem;
  border: 0;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  cursor: pointer;

  &::before {
    content: "";
    border-radius: inherit;
    color: inherit;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), background 0.6s;
  }

  &:hover::before {
    opacity: 0.18;
  }
}

input {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 53, 71);
  padding: 1rem;
  height: 3.5rem;
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid rgb(132, 146, 164);
  letter-spacing: inherit;

  &:focus {
    outline: none;
    border-color: transparent;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 0 2px rgb(0, 81, 195);
    box-shadow: 0 0 0 2px rgb(0, 81, 195);
  }
}
