.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(249, 250, 251);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &-info {
    flex-grow: 1;
    margin-bottom: 1rem;
    word-break: break-word;
  }

  &-label {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 0.5rem;
    outline: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 20rem;

    &-overlay {
      position: fixed;
      inset: 0px;
      background-color: rgba(255, 255, 255, 0.75);
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &-close-button {
    background-color: rgb(132, 146, 164);
  }

  &-delete-button {
    background-color: rgb(235, 20, 3);
  }
}

.products-grid {
  .product-title,
  .product-description {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.products-panel {
  @media (min-width: 1024px) {
    .product-delete-button {
      margin-left: auto;
    }
  }
}
