.productsTitle {
  margin-bottom: 1rem;
}

.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-button {
  background-color: rgb(235, 20, 3);
}
