.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(249, 250, 251);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &-info {
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  &-label {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &-close-button {
    background-color: rgb(132, 146, 164);
  }

  &-delete-button {
    background-color: rgb(235, 20, 3);
  }
}
