.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
